---
import abru from "../assets/team/abru.png";
import male from "../assets/team/male.png";
import martu from "../assets/team/martu.png";
import santi from "../assets/team/santi.png";
import sofi from "../assets/team/sofi.png";
import TeamCard from "./TeamCard.astro";
---

<section id="dream-team" class="bg-image mx-auto min-h-screen bg-cyan py-16">
  <h2 class="pb-6 pl-6 text-7xl text-azul md:text-8xl lg:text-9xl">
    Dream team
  </h2>
  <div class="flex flex-wrap items-center justify-center gap-36">
    <TeamCard image={male} nombre="Male" especialidad="3D y Textura" />
    <TeamCard image={sofi} nombre="Sofi  " especialidad="Motion Graphics" />
    <TeamCard image={abru} nombre="Abru" especialidad="Dise침o Gr치fico" />
    <TeamCard image={santi} nombre="Santi" especialidad="Programaci칩n" />
    <TeamCard image={martu} nombre="Martu" especialidad="Dise침o Web" />
  </div>
</section>

<style>
  .bg-image {
    background-image: url(/images/bg-team-section.png);
  }
</style>
